<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>조건문연습</title>
</head>
<body>
   	 <table border="1" cellspacing="0" cellpadding="0">
   		<tr>
   			<th>번호</th>
   			<th>아이디</th>
   			<th>이름</th>
   			<th>이메일</th>
   			<th>나이</th>
   		</tr>
   		
   		<tr th:each="mdto, status:${memberDtos}"> <!-- 모델에서 넘어온 친구 입력 status 이걸 쓰면 index 를 사용할수 있다.-->
   		<!--<tr th:each="mdto:${memberDtos}"> 보통 이렇게 많이 씁니다.-->
   			<td th:if="${status.even}" th:text="짝수"></td><!-- even 짝수 if -->
   			<td th:unless="${status.even}" th:text="홀수"></td><!--unless else 그렇지 않으면-->
   			<td th:text="${mdto.id}">tiger</td>
   			<td th:text="${mdto.name}">김유신</td>
   			<td th:text="${mdto.email}">dfd@gdf.com</td>
   			<td th:text="${mdto.age}">33</td>
   		</tr>
   	
   </table>
</body>
</html>